<h2>Introduction</h2>
<p>Welcome to my website, where I will be demonstrating HTML5 principles and techniques, and Routing in Express.</p>

<h2>About This Site</h2>
<p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data , including: 
<a href="/students">All Students</a>, <a href="/courses">All Courses</a>, and more.</p>

<h2>HTML5 Overview</h2>
<p>This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web.</p>
